@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "~@fortawesome/fontawesome-free/css/brands.min.css";
@import "~@fortawesome/fontawesome-free/css/solid.min.css";

@font-face {
    font-family: "AvenirMedium";
    src: local("AvenirMedium"), url(./fonts/AvenirNextLTPro-Regular.otf) format("opentype");
}

@font-face {
    font-family: "AvenirBold";
    src: local("AvenirBold"), url(./fonts/AvenirNextLTPro-Bold.otf) format("opentype");
}
